*.icon-white {color: white}
*.icon-silver {color: silver}
*.icon-green {color: green}
*.icon-dark {color: gray}

@media screen and (max-width: 768px) {
	/* small screen */
	div.full-details { display: none }
	div.less-details { display: block; }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* medium screen */
	div.full-details { display: block; }
	div.less-details { display: none; }
	.hideable-column { display: none }
}

@media screen and (min-width: 1024px) {
	/* small screen */
	div.less-details { display: none; }
	.hideable-column { display: table-cell; }
}

#home {
  background-image: url("https://s.yimg.com/ny/api/res/1.2/fpZ1CAxF.Pndv90XBz1tlw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02MDM-/https://s.yimg.com/uu/api/res/1.2/fsTlNHHkdiSjGyMEdHQLMg--~B/aD0xMDAwO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/http://media.zenfs.com/en_SG/News/e27/c74d364eb8a86c29c0ceb86129a2166e.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}