<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Context-Type" content="text/html; charset=utf-8">
  <!-- This meta is for phone responsivness -->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">

  <title>Home - Ecommerce Admin</title>
  
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="containet-fluid text-center">

	<div>
		<img th:src="@{/images/ShopmeAdminBig.png}" />	
	</div>
	
	<form th:action="@{/login}" method="POST" style="max-width: 350px; margin: 0 auto">
		<div th:if="${param.error}">
			<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
		</div>
		<div th:if="${param.logout}">
			<p class="text-warning">You have been logged out.</p>
		</div>
		<div class="border border-secondary rounded p-3">
			<p>Access to Ecommerce Control Panel</p>
			<p>
				<input type="email" name="email" class="form-control" placeholder="E-mail" required/>
			</p>
			<p>
				<input type="password" name="password" class="form-control" placeholder="Password" required/>
			</p>
			<p>
				<input type="checkbox" name="remember-me" />&nbsp;Remenber Me
			</p>
			<p>
				<input type="submit" value="login" class="btn btn-primary" /> 
			</p>
			
		</div>
	</form>
	
	<div>
		<p>G3project Control Panel - Copyright @copy; Ecommerce</p>
	</div>
	
</div>	
</body>
</html>