<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Grp3project', 'none')" />
<body>
<div class="containet-fluid">
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>

	<div class="row p-3">
		<div class="col" th:each="cat : ${listCategories}">
			<div>
				<a th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a>
			</div>
		</div>
	</div>
	
	<div>
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link">Men</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" >Women</a>
			</li>
		</ul>
	</div>
	
	<section id="home">
      <div class="container">
      </div>
    </section>
	
	<div class="row">&nbsp;</div>
	<div class="row">
		<th:block th:each="product : ${listProducts}">
		<div th:replace="product/product_fragment :: content"></div>
		</th:block>
	</div>
	
	<div th:replace="fragments :: pagination('', 'products')"></div>

	<div th:replace="navigation :: footer_menu"></div>
	
</div>
</body>
</html>